#companyHead{
    display: flex;
    justify-content: center;
}

#buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 14px 24px;
    
    
}

.button{
    border-radius: 8px;
    border: 1px solid #004B9E;
    background: rgba(0, 75, 158, 0.05);
    cursor: pointer;
}
 